<div class="container-fluid">
  <div class="row">
    <h1 style="text-align: center">Data Entry</h1>

    <p style="text-align: center">Enter First Name and Last Name</p>
  </div>
  <!--<p>Current count: <strong>{{ currentCount }}</strong></p>-->

  <div class="row" style="text-align: center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form>
        <div>
          <label>First Name :</label>  <input type="text" [(ngModel)]='Names.firstName' name="firstName" id="firstName_text" placeholder="Enter First Name" maxlength="15" />
        </div>
        <br />
        <div>
          <label>Last Name : </label> <input type="text" [(ngModel)]='Names.lastName' name="lastName" id="lastName_text" placeholder="Enter Last Name" maxlength="15" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <button (click)="SaveData()" class="btn btn-primary" style="text-align: center">Save</button>
      </form>
      <br />
      <br />
      <br />
      <br />
      <p style="display: block; text-align:center; color: red">{{ Msg }}</p>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
